body {
  margin: 0;
}

.signIn
{
  background-color: black;
  color: wheat;
}


.heading h1
{
  font-size: 5em;
  font-weight: 600;
}

.heading h4
{
  font-size: 1.5em;
}

.login p
{
  font-size: 2em;
}

.login-btn{
  font-size: 2em;
  border-radius: 20px;
  padding: 5px;
  min-width: 100px;
}


/* //user */


.name
{
  font-weight: 500;
  font-size: 2em;
}


.signOut
{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.25em;
}

.summary
{
  margin-top: 4em;
  border: 3px solid black;
}

label
{
  font-size: 1.2em;
  font-weight: 500;
}

.input-c
{
  min-width: 300px;
  min-height: 50px;
}

.userInfo
{
  background-color: black;
  color: white;
}

.sample
{
  margin-top: 2em;
  border: 2px solid black;
  border-radius: 20px;
}

.transaction p
{
  font-size: 1.2em;
  font-weight: 500;
}